<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header text-center">
      <h3>{{ id ? 'Update' : 'Add' }} user</h3>
    </div>

    <form role="form" #addUserForm="ngForm" (submit)="onSubmit()" autocomplete="off" novalidate>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter username"
               [(ngModel)]="user.username"
               required
               minlength="4"
               maxlength="20"
               pattern="^[a-z0-9_-]*$"
        >
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter name" [(ngModel)]="user.name"
               required
               minlength="4"
               maxlength="100"
        >
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password"
               [(ngModel)]="user.password"
               minlength="3"
               maxlength="100"
               pattern="^[ A-Za-z0-9_@./#&+-]*$"
        >
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"
                 name="role"
                 (change)="$event.target.checked ? user.role='admin': user.role=undefined"
                 [(ngModel)]="user.role">
          Admin
        </label>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!addUserForm.valid">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Save
        </button>
      </div>

    </form>

  </div>
</div>
