<div class="row">
  <div class="col-md-12">
    <div class="page-header text-center">
      <h3>Users</h3>
    </div>

    <h4>Total: {{users?.length}}</h4>

    <div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Created</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users | orderBy: 'username'">
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.createdAt | date: "dd.MM.yyyy" }}</td>
            <td>
              <a class="btn btn-warning" [routerLink]="['/edit-user', user._id]">Edit</a>
              <button class="btn btn-danger" (click)="removeUser(user._id)">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
