<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header text-center">
      <h3>{{ id ? 'Update' : 'Add' }} user</h3>
    </div>

    <form role="form" #addUserForm="ngForm" (submit)="onSubmit()" autocomplete="off" novalidate>

      <div class="form-group" [ngClass]="{ 'has-error' : username.invalid && !username.pristine }">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter username"
               [(ngModel)]="user.username"
               #username="ngModel"
               required
               minlength="4"
               maxlength="20"
               pattern="^[a-z0-9_-]*$"
        >
        <p *ngIf="username.dirty && username.hasError('pattern')" class="help-block">Only Latin characters, numbers, '-'
          and '_' symbols</p>
        <p *ngIf="username.dirty && username.hasError('minlength')" class="help-block">At least 4 characters</p>
        <p *ngIf="username.dirty && username.hasError('required')" class="help-block">Required field</p>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error' : name.invalid && !name.pristine }">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter name"
               [(ngModel)]="user.name"
               #name="ngModel"
               required
               minlength="4"
               maxlength="100"
        >
        <p *ngIf="name.dirty && name.hasError('minlength')" class="help-block">At least 4 characters</p>
        <p *ngIf="name.dirty && name.hasError('required')" class="help-block">Required field</p>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error' : password.invalid && !password.pristine }">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password"
               [(ngModel)]="user.password"
               #password="ngModel"
               minlength="3"
               maxlength="100"
               pattern="^[ A-Za-z0-9_@./#&+-]*$"
        >
        <p *ngIf="password.dirty && password.hasError('pattern')" class="help-block">Only Latin characters, numbers and
          special symbols</p>
        <p *ngIf="password.dirty && password.hasError('minlength')" class="help-block">At least 3 characters</p>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"
                 name="role"
                 (change)="$event.target.checked ? user.role='admin': user.role=undefined"
                 [(ngModel)]="user.role">
          Admin
        </label>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="addUserForm.invalid">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Save
        </button>
      </div>

    </form>

  </div>
</div>
