<div class="row">
  <div class="col-md-12">
    <div class="page-header text-center">
      <h3>{{'USER_LIST.PAGE_HEADER' | translate}}</h3>
    </div>

    <a [routerLink]="['/add-user']" class="btn btn-success pull-right">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>

    <h4>{{'USER_LIST.TOTAL' | translate}} {{users?.length}}</h4>

    <div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>{{'USER_LIST.USERNAME' | translate}}</th>
            <th>{{'USER_LIST.ROLE' | translate}}</th>
            <th>{{'USER_LIST.CREATED' | translate}}</th>
            <th>{{'USER_LIST.ACTION' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users | orderBy: 'username'">
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.createdAt | date: "dd.MM.yyyy" }}</td>
            <td>
              <a class="btn btn-warning" [routerLink]="[user._id, 'edit']">{{'BUTTONS.EDIT' | translate}}</a>
              <button class="btn btn-danger" (click)="removeUser(user._id)">{{'BUTTONS.REMOVE' | translate}}</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
