<div class="row">
  <div class="col-md-12">
    <div class="page-header text-center">
      <h3>Categories</h3>
    </div>

    <a [routerLink]="['/add-category']" class="btn btn-success pull-right">Add category</a>
    <h4>{{ categories ? 'Total: '+ categories.length : 'No categories' }}</h4>

    <div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Category</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.title }}</td>
            <td>
              <a class="btn btn-warning" [routerLink]="['/edit-category', category._id]">Edit</a>
              <button class="btn btn-danger" (click)="removeCategory(category._id)">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
