<div class="row">
  <div class="col-md-12">
    <div class="page-header text-center">
      <h3>{{'POLL_LIST.PAGE_HEADER' | translate}}</h3>
    </div>


    <ng-template #noPolls><h4>{{'POLL_LIST.NO_ACTIVE_POLLS' | translate}}</h4></ng-template>
    <div *ngIf="activePoll; else noPolls">
      <br><br>
      <h4 class="text-center">{{'POLL_LIST.RESULT_FOR' | translate}} {{activePoll.title}}</h4>

      <button class="btn btn-primary" (click)="stopPoll(activePoll._id)">{{'POLL_LIST.STOP_POLL_BTN' | translate}}
      </button>
      <br><br>

      <div class="row" *ngFor="let item of chartData; trackBy: trackByFn">
        <div class="col-md-12">
          <h5 class="text-center">{{ item.title }}</h5>
          <ngx-charts-pie-chart
            [view]="[400, 400]"
            [results]="item.data"
            [labels]="true"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>

      <br><br>
      <button class="btn btn-primary" (click)="stopPoll(activePoll._id)">{{'POLL_LIST.STOP_POLL_BTN' | translate}}
      </button>
      <br><br>
    </div>

    <a [routerLink]="['/add-poll']" class="btn btn-success pull-right">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>

    <h4>{{ totalItems ? (('POLL_LIST.TOTAL' | translate) + totalItems) : ('POLL_LIST.NO_POLLS' | translate) }}</h4>

    <form class="form-inline text-center" *ngIf="categories?.length > 1">
      <div class="form-group">
        <label for="category">{{'POLL_LIST.CAT_FILTER' | translate}}</label>

        <select class="form-control" id="category" [ngModel] (change)="onCategorySelectChange($event.target.value)">
          <option *ngFor="let category of categories | orderBy: 'title'" [ngValue]="category._id">{{category.title}}
          </option>
        </select>

        <button class="btn btn-info" *ngIf="useCategoryFilter" (click)="resetCategoryFilter()">{{'BUTTONS.RESET' |
          translate}}
        </button>

      </div>
    </form>

  </div>
</div>

<div class="row" *ngIf="polls">
  <div class="col-md-12">

    <div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>{{'POLL_LIST.TITLE' | translate}}</th>
          <th>{{'POLL_LIST.ACTION' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let poll of polls
          | orderBy: 'title'
          | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
            [ngClass]="{'list-group-item-success': poll.active}"
        >
          <td><a [routerLink]="['/polls', poll._id]">{{ poll.title }}</a></td>
          <td>
            <div class="btn-group">
              <button class="btn btn-success" title="Start" (click)="startPoll(poll._id)"
                      [disabled]="activePoll">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
              </button>
              <button class="btn btn-primary" title="Stop" (click)="stopPoll(poll._id)"
                      [disabled]="!poll.active">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
              </button>
              <a class="btn btn-warning" title="Edit" [routerLink]="[poll._id, 'edit']"
                 [ngClass]="{'disabled': activePoll}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
              <button class="btn btn-danger" title="Remove" (click)="removePoll(poll._id)"
                      [disabled]="activePoll">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls (pageChange)="getPolls($event)"></pagination-controls>

  </div>
</div>
