<div class="row">
  <div class="col-md-12">
    <div class="page-header text-center">
      <h3>Polls</h3>
    </div>

    <h4>{{ polls ? 'Total: '+ polls.length : 'No polls' }}</h4>

    <a routerLink="/add-poll" class="btn btn-success pull-right">Add poll</a>
    <br>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let poll of polls">
          <td><a [routerLink]="['/polls', poll._id]">{{ poll.title }}</a></td>
          <td>
            <div class="btn-group">
              <button class="btn btn-success" title="Start" disabled>
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
              </button>
              <button class="btn btn-primary" title="Stop" disabled>
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
              </button>
              <a class="btn btn-warning" title="Edit" [routerLink]="['/edit-poll', poll._id]">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
              <button class="btn btn-danger" title="Remove" (click)="removePoll(poll._id)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
