<div class="col-md-6 col-md-offset-3">

  <div class="page-header text-center">
    <h3>{{ id ? ('POLL_ADD.PAGE_HEADER_UPD' | translate) : ('POLL_ADD.PAGE_HEADER_ADD' | translate)}}</h3>
  </div>

  <form role="form" #addPollForm="ngForm" (submit)="onSubmit()" novalidate>

    <div class="form-group">
      <label for="title">{{'POLL_ADD.TITLE' | translate}}</label>
      <input type="text" id="title" name="title" class="form-control" [(ngModel)]="poll.title"
             required
             maxlength="100"
      >
    </div>

    <div class="form-group">
      <label for="description">{{'POLL_ADD.DESCRIPTION' | translate}}</label>
      <input type="text" id="description" name="description" class="form-control" [(ngModel)]="poll.description"
             maxlength="100"
      >
    </div>

    <div class="form-group">
      <label for="category">{{'POLL_ADD.CATEGORY' | translate}}</label>

      <select class="form-control" id="category" name="category" [(ngModel)]="poll.category._id" required>
        <option *ngFor="let category of categories" [ngValue]="category._id">{{category.title}}</option>
      </select>

    </div>

    <div class="form-group">
      <div *ngFor="let question of poll.questions; let i=index">

        <br>
        <label for="question-{{i}}">{{'POLL_ADD.QUESTION' | translate}} {{i + 1}}</label>

        <button type="button" class="btn btn-danger pull-right"
                (click)="removeQuestion(i)"
                [disabled]="poll.questions.length < 2">
          {{'POLL_ADD.REMOVE_QUESTION_BTN' | translate}}
        </button>
        <br><br>

        <textarea class="form-control" rows="5"
                  id="question-{{i}}"
                  name="text{{i}}"
                  [(ngModel)]="question.text"
                  required>
        </textarea>

        <br>
        <div class="form-group">
          <div *ngFor="let choice of question.choices; let j=index; trackBy: trackByFn">
            <label for="{{i}}-{{j}}">{{'POLL_ADD.CHOICE' | translate}} {{j + 1}}</label>
            <div class="form-group input-group">
              <input type="text"
                     id="{{i}}-{{j}}"
                     name="choice{{i}}-{{j}}"
                     class="form-control"
                     [(ngModel)]="question.choices[j]"
                     required>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button"
                        (click)="removeChoice(i, j)"
                        [disabled]="question.choices.length < 3">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;
                </button>
              </span>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-success pull-right" (click)="addChoice(i)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
        </button>
        <br><br><br><br>
      </div>
      <button type="button" class="btn btn-success" (click)="addQuestion()">{{'POLL_ADD.ADD_QUESTION_BTN' |
        translate}}
      </button>
    </div>

    <br><br>
    <div class="text-center">
      <button type="submit" class="btn btn-success" [disabled]="addPollForm.invalid">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;{{'BUTTONS.SAVE' | translate}}
      </button>
      <button type="button" class="btn btn-warning" (click)="onReset(addPollForm)">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> {{'BUTTONS.RESET' | translate}}
      </button>
    </div>
  </form>

</div>
