<div class="row">
  <div class="col-md-12">
    <div class="page-header text-center">
      <h3>{{'ROOM_LIST.PAGE_HEADER' | translate}}</h3>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>{{'ROOM_LIST.ROOM' | translate}}</th>
        <th>{{'ROOM_LIST.ACTION' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms
        | orderBy: 'name'
        | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
      >
        <td>{{ room.name }}</td>
        <td>
          <!--<a class="btn btn-success" [routerLink]="['/rooms', room._id]">Enter</a>-->
          <button class="btn btn-success" (click)="joinRoom(room)">{{'BUTTONS.ENTER' | translate}}</button>
        </td>
      </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="getRooms($event)"></pagination-controls>

  </div>
</div>
